<p>icon-material works!</p>
<button mat-raised-button color="accent" class="item-margin">
<mat-icon aria-hidden="false" aria-label="Example home icon" >home</mat-icon>
</button>
<button mat-raised-button color="accent" class="item-margin">
  <mat-icon aria-hidden="false" aria-label="Example home icon" >save</mat-icon>
</button>
<button mat-raised-button color="accent" class="item-margin">
  <mat-icon aria-hidden="false" aria-label="Example home icon" >cloud</mat-icon>
</button>
<button mat-raised-button color="accent" class="item-margin">
  <mat-icon aria-hidden="false" aria-label="Example home icon" >android</mat-icon>
</button>
<button mat-raised-button color="accent" class="item-margin">
  <mat-icon aria-hidden="false" aria-label="Example home icon" >room_service</mat-icon>
</button>
<button mat-raised-button color="accent" class="item-margin">
  <mat-icon aria-hidden="false" aria-label="Example home icon" >video_library</mat-icon>
</button>
