<p>dragdrop works!</p>
<div class="example-box" cdkDrag (click)="dragText='Oh BOLLAAA'">
  <p text-align="center">{{dragText}}</p>
  <br><br>
  <img src="https://scontent-sjc3-1.cdninstagram.com/vp/c8d0dbce6ece4d54a4dd9168cc083d1b/5DDC8270/t51.2885-15/e35/s320x320/62620886_451445532313685_8104672305919862144_n.jpg?_nc_ht=scontent-sjc3-1.cdninstagram.com"
   class="img-display">
</div>

<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box-list" *ngFor="let b of ball" cdkDrag>{{b}}</div>
</div>
